<div class="container">
  <h1 class="text-center">Register Your Farm</h1>
  <br>
  <br>

  <%= form_with url: '/farms', method: :post do |form| %>
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-2">
        <%= form.label :username, "Farm Name:" %>
      </div>
      <div class="col-2">
        <%= form.text_field :name %>
      </div>
      <div class="col-1">
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-2">
        <%= form.label :address, "Address:" %>
      </div>
      <div class="col-2">
        <%= form.text_field :address %>
      </div>
      <div class="col-1">
      </div>
      <div class="col-2">
        <%= form.label :number_of_animals, "Number of Horses:" %>
      </div>
      <div class="col-2">
        <%= form.number_field :number_of_animals %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-2">
        <%= form.label :special_needs?, "Special Needs?" %>
      </div>
      <div class="col-2">
        <%= form.radio_button :special_needs?, true %>Yes &nbsp;
        <%= form.radio_button :special_needs?, false %>No
      </div>
      <div class="col-1">
      </div>
      <div class="col-2">
        <%= form.label :special_needs_details, "If yes, please specify:" %>
      </div>
      <div class="col-2">
        <%= form.text_field :special_needs_details %>
      </div>
    </div>
    <br>

    <!-- <div class="row">
      <div class="col-1">
      </div>
      <div class="col-2">
        <%#= form.label :trailer, "Trailer Carrying Capacity:" %>
      </div>
      <div class="col-2">
        <%#= form.text_field :trailer %>
      </div>
      <div class="col-1">
      </div>
      <div class="col-2">
        <%#= form.label :sharing, "Share info with local animal shelters?" %>
      </div>
      <div class="col-2">
        <%#= form.radio_button :sharing, true %>Yes &nbsp;
        <%#= form.radio_button :sharing, false %>No
      </div>
    </div>
    <br> -->

    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-1">
        <%= form.submit "Register" %>
      </div>
    </div>
  <% end %>
</div>
