<div class="page-container">
  <div class="content-wrap">
    <h1 class="text-center"><%= @farm.name %>'s Dashboard</h1>
    <br>

    <div class="row">
      <div class="invis-box">
        <div class="center">
          <%= button_to 'Request Rescue', '/missions/new', method: :get %>
        </div>
      </div>
      <div class="invis-box">
        <div class="center">
          <%= button_to 'Provide Assistance', '/missions', method: :get %>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="content-box">
        <h3>Farm Info:</h3>
        <p>Farm Name:
          <%= @farm.name %></p>
        <p>Farm Address:
          <%= @farm.address %></p>
        <p>Number of Horses:
          <%= @farm.animals %></p>
        <p>Special needs?:
          <%= @farm.special_needs %></p>
        <p>Special needs details:
          <%= @farm.special_needs_details %></p>
        <div class="text-center">
          <%= button_to 'Edit Farm', 'farms/edit', method: :get %>
        </div>
      </div>

      <div class="content-box">
        <h3>User Info:</h3>
        <p>User Name:
          <%= @user.name %></p>
        <p>Email:
          <%= @user.email %></p>
        <p>User Phone Number:
          <%= @user.phone %></p>
        <p>Trailer Carrying Capacity:
          <%= @user.trailer_capacity %></p>
        <div class="text-center">
          <%= button_to 'Edit User', '/users/edit', method: :get %>
        </div>
      </div>
    </div>
    <br>

    <div class="row">

    </div>

    <div class="row">
      <div class="alert-box">
        <div class="text-center">
          <h3>My Currently Accepted Missions</h3>
          <% if @rescuer_missions.length > 0 %>
            <% @rescuer_missions.each do |m| %>
              <%= link_to m.evacuee.farm.name, mission_show_path(m.id) %>
              <br>
            <% end %>
          <% else %>
            <p>Not currently assigned any missions. Click 'Provide Assistance' to review unassigned evacuation missions in your area</p>
          <% end %>
        </div>
      </div>
    </div>
<br>
<br>
    <div class="row">
      <div class="alert-box">
        <div class="text-center">
          <h3>My Evacuation Request</h3>
          <% if @evacuee_missions.length > 0 %>
            <% @evacuee_missions.each do |m| %>
              <%= link_to m.evacuee.farm.name, mission_show_path(m.id) %><br>
              <p>Assignment Status:
                <% if m.rescuer_id.nil? %>
                    "Unassigned"
                  <% else %>
                    Assigned <br>
                    Rescuer assigned to this mission:
                    <%= UserFacade.find_by_id("#{m.rescuer_id}").name %>
                    <%= UserFacade.find_by_id("#{m.rescuer_id}").phone %>
                  <% end %></p><br>
              <p>
               </p>
            <% end %>
          <% else %>
            <p>You have not reqested evacuation assistance. Click 'Request Rescue' to send a text alert with your information to Neigh-bors users in your area and request assistance.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <%= link_to "Resources", resources_path %>
</div>

