<div class="page-container">
  <div class="content-wrap">
    <h1 class="text-center"><%= @farm.name %>'s Dashboard</h1>
    <br>

    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-3">
        <div class="text-center">
          <%= button_to 'Request Rescue', '/missions/new', method: :get %>
        </div>
      </div>
      <div class="col-3">
        <div class="text-center">
          <%= button_to 'Provide Assistance', '/missions', method: :get %>
          <br>
          <p>Current availability status:</p>
          <% if @user.available == true %>
          <%= 'Available for rescue assignment' %>
          <% else %>
          <%=  'Unavailable' %>
          <% end %>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <h3>User Info:</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <p>
          Name: <%= @farm.name %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <p>
          Address: <%= @farm.address %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <p>
          Phone #: <%= @user.phone %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <p>
          Email: <%= @user.email %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <p>
          Number of Horses: <%= @farm.animals %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <p>
          Trailer Carrying Capacity: <%= @user.trailer_capacity %>
        </p>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-2">
        <%= button_to 'Edit', 'farms/edit', method: :get %>
      </div>
    </div>
  </div>
</div>

<div class ="footer">
  <%= link_to "Resources", resources_path %>
</div>
