<div class="page-container">
  <div class="content-wrap">
    <h1 class="text-center"><%= @farm.name %>'s Dashboard</h1>
    <br>

    <div class="row">
      <div class="invis-box">
        <div class="center">
          <%= button_to 'Request Rescue', '/missions/new', method: :get %>
        </div>
      </div>
      <div class="invis-box">
        <div class="center">
          <%= button_to 'Provide Assistance', '/missions', method: :get %>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="content-box">
        <h3>Farm Info:</h3>
        <p>Farm Name:
          <%= @farm.name %></p>
        <p>Farm Address:
          <%= @farm.address %></p>
        <p>Number of Horses:
          <%= @farm.animals %></p>
        <div class="text-center">
          <%= button_to 'Edit Farm', 'farms/edit', method: :get %>
        </div>
      </div>

      <div class="content-box">
        <h3>User Info:</h3>
        <p>User Name:
          <%= @user.name %></p>

        <p>Email:
          <%= @user.email %></p>
        <p>Trailer Carrying Capacity:
          <%= @user.trailer_capacity %></p>
        <div class="text-center">
          <%= button_to 'Edit User', '/users/edit', method: :get %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="footer">
  <%= link_to "Resources", resources_path %>
</div>
