<div class="page-container">
  <div class="content-wrap">
    <h1 class="text-center">Pending Unassigned Evacuations Near Me</h1>
    <br>
    <div class="row">
      <% i = 0 %>
        <% @missions.each do |m| %>
          <div class="content-box">
            <div class="farm">
              <h3><%= m.evacuee.farm.name %></h3>

              <ul>
                Contact:
                <li>
                  <%= m.evacuee.name %>
                </li>
                <li>
                  <%= m.evacuee.address %>
                </li>
                <li>
                  <%= m.evacuee.phone %>
                </li>
                <li>
                  <%= m.evacuee.farm.animals %>
                  horses
                </li>
                <li>
                  <%= MissionFacade.distance(current_user, m.evacuee) %>
                  miles away
                </li>
              </ul>

                <%= button_to "Self Assign", "/missions/#{m.id}", method: :patch %>
              </div>
            </div>
            <% i+= 1 %>
              <% if i % 2 == 0 %>
              </div>
              <br>
              <div class="row">
              <% end %>

            <% end %>
          </div>
        </div>
      </div>
