<div class="page-container">
  <div class="content-wrap">
    <div class="text-center">
      <h3>Request emergency evacuation assistance from nearby Neigh-bors users</h3>
      <br>
      <p>Clicking "submit" will automatically send text alerts to all nearby Neigh-bors users who are available for rescue and have sufficient trailer capacity for your specified animal count.</p>
      <div class="alert-box">
        <h5>The following information will be made available: </h5>
        <p>Name: <%= @farm.name %></p>
        <p>Address: <%= @farm.address %></p>
        <p>Phone #: <%= @user.phone %></p>
        <p>Email: <%= @user.email %></p>
        <p>Number of Horses: <%= @farm.animals %></p>
        <p>Trailer Carrying Capacity: <%= @user.trailer_capacity %></p>
            <%= button_to 'Edit', '/farms/edit', method: :get %>
      </div>
      <br>
      <p>You will be notified by this application when a user has accepted the assignment.</p>
      <p>Make sure to answer incoming calls, as the rescuer may reach out to you by phone first for additional information before choosing to accept assignment.</p>
      <p>Are you sure you wish to proceed? This action cannot be undone.</p>
      <%= button_to 'Submit', '/missions', method: :post %>
    </div>
  </div>
</div>
